#hamburger.active .bar:nth-of-type(1) {
  transform: rotate(45deg) translateY(10px);
}
#hamburger.active .bar:nth-of-type(2) {
  display: none;
}
#hamburger.active .bar:nth-of-type(3) {
  transform: rotate(-45deg) translateX(-4px) translateY(-5px);
}

html {
  scroll-behavior: smooth;
}

.header {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}


.carousel-container {
  width: 90%;
  margin: 20px auto;

}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.slider {
  height: 100%;
  display: flex;
  width: 300%;
  transition: all 0.5s;
  flex-shrink: 0;
}

.slider .section {
  width: 20%;
  flex-basis: 33%;
  flex-shrink: 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 1s;
}

.controls .arrow {
  position: absolute;
  top: 75%;
  cursor: pointer;
}

.arrow.previous {
  left: 10px;
}

.arrow.next {
  right: 10px;
}

.hidden-elements {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show-elements {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.card:nth-child(2) {
  transition-delay: 200ms;
}

.card:nth-child(3) {
  transition-delay: 400ms;
}

.card:nth-child(4) {
  transition-delay: 600ms;
}

@media(prefers-reduced-motion) {
  .hidden-elements {
      transition: none;
  }
}

